{% extends "parent.njk" %}

{% block room %}
  <h1>Log in to access
    <br><br>
    Geekl API
  </h1>
  <form action="/editAPI" id="chatForm">
    <div class="user-and-pswd">
      <input name="uname" id="txt" autocomplete="off" autofocus="on" placeholder="enter username"/>
      <input name="pword" id="txt2" autocomplete="off" autofocus="on" placeholder="enter password"/>
    </div>
    <button id="LogIn">
      Log In
    </button>
  </form>
{% endblock %}