{% extends "parent.njk" %}

{% block room %}
<div class="background">
  <h1 class="title">Geekle</title>
    <h3 class="subTitle">GALAXYCON CHARACTER GUESSING GAME</h3>
    <div class="guesses">0 of 8 guesses</div>
    <form id="guess" class="guess-bar" role="search">
      <label for="charName">First name:</label>
      <input 
        type="search" 
        id="charName" 
        name="charName"
        autocomplete="off"
        list="character-list"
      />
      <datalist id="character-list">
        <option value="Batman">
        <option value="Superman">
        <option value="Darth Vader">
        <option value="Bubbles">
        <option value="Goku">
        <option value="Harry Potter">
        <option value="Captain Kirk">
        <option value="Zelda">
        <option value="Skeletor">
        <option value="Mario">
        <option value="Rick O’Connell">
        <option value="Gill-Man">
        <option value="Frank N. Furter">
      </datalist>
    </form>
    <ul class="categories" id="categories">
      <li class="middle"></li>
      <li class="middle">Gender</li>
      <li class="middle">Show</li>
      <li class="middle">Genre</li>
      <li class="middle">Creator</li>
      <li class="middle">Platform</li>
      <li class="middle">Year</li>
    </ul>
    <ul class="all-answers" id="answers"></ul>
{% endblock %}

{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
  <script src="script.js"></script>
{% endblock %}