{% extends "parent.njk" %}

{% block room %}
  <h1 class="title">Geekle</title>
    <h3 class="subTitle">GALAXYCON CHARACTER GUESSING GAME</h3>
    <form action="/game" id="gamePlayForm">
      <button id="gamePlay" class="play-button"> 
        Let's play!
      </button>
    </form>
{% endblock %}